@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  
}
* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	text-transform: capitalize;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #FFF;
  background-color: #faebd6;
}
  
::selection {
  background-color: #cdaa7c; 
  color: #FFF;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #333; 
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #cdaa7c; 
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background-color: #C87E4F; 
}
  
body,
button,
input {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333
}
  
input {
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
}
.section {
  padding: 20rem 3rem;
}
.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.button {
  border: none;
  outline: none;
  color: #FFF;
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: #C87E4F;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #C2703D;
}
.section-subtitle,
.content-subtitle {
  color: #C87E4F;
  font-size: 2rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-align: center;
}
.section-title,
.content-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
.section-description,
.content-description {
  text-align: center;
  margin-bottom: 2rem;
  line-height: 3rem;
}
.section-description {
  padding: 0 16rem;
}

/* ------------------------------------------- */
/* Header style start */
/* ------------------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  background: rgba(12, 11, 9, 0.6);
  transition: all 0.5s;
	z-index: 100;
}
header .logo {
  font-size: 2.5rem;
  color: #FFF;
  font-style: italic;

}
header .navbar a{
	font-size: 1.7rem;
	padding: .5rem 1.5rem;
	color: #cdaa7c;
	border: .1rem solid transparent;
}
header .navbar a.active,
header .navbar a:hover {
	color: #fff;
	border: .1rem solid rgba(205, 170, 124, 0.2);
} 
header .icons i {
	cursor: pointer;
	margin-left: .5rem;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	background: #cdaa7c;
  border-radius: 50%;
	text-align: center;
	font-size: 1.7rem;
	color: #fff;
}
header .icons #menu {
	display: none;
}
#search-form{
  position: fixed;
  top: -110%; left: 0;
  height: 100%; width: 100%;
  z-index: 1004;
  background: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  transition: all 0.5s ease-in;
}
#search-form.active{
  top: 0;
}
#search-form #search-box{
  width: 50rem;
  border-bottom: .1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}
#search-form #search-box::placeholder{
  color: #eee;
}
#search-form #search-box::-webkit-search-cancel-button{
  -webkit-appearance:none;
}
#search-form label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
#search-form label:hover{
  color: #C2703D;
}
#search-form #close{
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem; right: 3rem;
  font-size: 5rem;
}

/* ------------------------------------------- */
/* Header style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Home style start */
/* ------------------------------------------- */

.home .home-slider .slide {
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: flex-start;
}
.home .home-slider .slide:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.home .home-slider .slide1 {
	background: url(../img/Home1.jpg);
}
.home .home-slider .slide2 {
	background: url(../img/Home2.jpg);
}
.home .home-slider .slide3 {
	background: url(../img/Home3.jpg);
}
.home .home-slider .slide4 {
	background: url(../img/Home4.jpg);
}
.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3,
.home .home-slider .slide4 {
	background-size: cover;
	background-repeat: no-repeat;
}
.home .home-slider .slide .content {
	text-align: center;
	padding-left: 9rem;
  z-index: 10000;
}
.home .home-slider .slide .content .content2,
.home .home-slider .slide .content .content3 {
  margin-left: 200px;
  margin-top: 100px;
}
.home .home-slider .slide .content .content3 {
  margin-top: 200px;
}
.home .home-slider .slide .content .content4 {
  text-align: left;
  margin-top: 50px;
}
.home .home-slider .slide .content h3 {
	color: #cdaa7c;
	font-size: 3rem;
	font-weight: 900;
}
.home .home-slider .slide .content h1 {
	color: #fff;
	font-size: 6rem;
}
.home .home-slider .slide .content p {
	color: #e6e7e7;
	font-size: 1.8rem;
	letter-spacing: 1px;
	padding: .5rem 0;
	line-height: 1.5;
	font-weight: 200;
}
.btn {
	margin-top: 1rem;
	display: inline-block;
	font-size: 1.7rem;
	color: #fff;
	border: .1rem solid rgba(205,170,124,0.2);
	background: transparent;
	cursor: pointer;
	padding: .8rem 3rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn:before {
	content: '';
	width: 100%;
	height: 100%;
	background: #cdaa7c;
	z-index: -1;
	position: absolute;
	top: 0;
	left: -100%;
	transition: .5s;
}
.btn:hover.btn:before {
	left: 0;
}
.swiper-pagination-bullet {
	background: #cdaa7c!important;
	width: 15px!important;
	height: 15px!important;
	border-radius: 0!important;
}

/* ------------------------------------------- */
/* Home style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* About style start */
/* ------------------------------------------- */

.about .content-subtitle,
.about .content-title,
.about .content-description {
  text-align: left;
}
.about-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 16rem;
  align-items: center;
  padding: 0 3rem;
}

.about-heading, 
.Events-heading,
.clients-heading,
.gallery-heading,
.review-heading,
.reservation-heading {
  color: #c2703d48;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 130px;
  text-align: center;
  margin-bottom: 8rem;
  margin-top: -100px;
}
.review-heading {
  margin: 0;
}
.reservation-heading,
.gallery-heading {
  margin: 20px auto;
  font-size: 100px;
  margin-bottom: 60px;
}
.gallery-heading {
  color: #ffffff65;
}

.about-imageContent {
  position: relative;
  max-width: 450px; 
  height: 500px; 
  border: 6px solid #2C3034;
}
.about .about-content .about-imageContent::after {
  content: "";
  position: absolute;
  width: 100px;
  right: -134px;
  height: calc(100% - 100px);
  border-left: solid 80px #484848;
  border-bottom: solid 80px #484848;
  z-index: -1;
  top: -34px;
}
.about .about-content .about-imageContent::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  top: -40px;
  left: -60px;
  background-color: #C87E4F; 
  z-index: -1;
}
.about .about-img {
  width: 100%;
  height: 100%;
}
.aboutImg-textBox {
  position: absolute;
  bottom: -1rem;
  right: -7rem;
  padding: 2rem;
  max-width: 360px;
  width: 100%;
  text-align: center;
  border: 6px solid #2C3034;
  background-color: #FFF;
}
.aboutImg-textBox .content-description {
  text-align: center;
  margin-bottom: -5px;
}
.about-details {
  transform: translateX(80px);
}
.about-buttons {
  column-gap: 2rem;
}
.about-link .link-text, 
.about-link .about-arrowIcon {
  color: #333;
  text-transform: uppercase;
}
.about-arrowIcon {
  transition: 0.3s;
}
.about-link:hover .about-arrowIcon {
  margin-left: 4px;
}

/* ------------------------------------------- */
/* About style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Features style start */
/* ------------------------------------------- */

.section-features .section-title {
  width: 900px;
  margin: 60px;
  margin-top: -50px;
  margin-left: 15%;
  text-align: left;
  line-height: 195%;
  font-size: 23px;
  font-weight: 300;
  color: #2C3034;
}
.section-features .section-title span{
  font-size: 30px;
  font-weight: 500;
  color: #cf7137;
  text-decoration: underline;
}
.section-features .row {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 4rem;
  padding: 0;
}
.section-features .box i {
  font-size: 300%;
  display: block;
  color: #e67e22;
  margin-bottom: 20px;
}
.section-features h3 {
  font-weight: 390;
  text-transform: uppercase;
  font-size: 150%;
  margin-bottom: 15px;
}
.section-features .box p {
  font-size: 100%;
  font-weight: 300;
  line-height: 145%;
  color: #333;
}

/* ------------------------------------------- */
/* Features style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Level style start */
/* ------------------------------------------- */

.section-container {
  margin: 50px;
  padding: 30px;
  text-align: center;
  font-size: 30px;
}
.section-container h3 {
  font-size: 45px;
  margin: 35px;
  color: #cda45e;
}
.section-container .container {
  font-size: 16px;
  max-width: 500px;
  margin-inline: 3rem;
  display: block;
  line-height: 3rem;
  margin-left: 150px;
}
.level-food {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 15rem;
  padding: 0;
  margin-left: -100px;
}
.level-food img {
  width: 300px;
  height: 350px;
}
.level-food a {
  font-size: 30px;
  text-align: center;
  background-color: #b9b6b6;
  padding: 10px;
  color: #1d1d23;
  text-decoration: none;
  display: block;
  margin-block: 10px;
}
.level-food a:hover {
  background-color: #cf7137;
  color: #fff;
}
.level-food .level1,
.level-food .level3 {
  margin-top: -120px;
}
.level-food .level2 a, 
.level-food .level3 a {
  width: 300px;
}
.level-food .level2 {
  margin-top: 50px;
}
.level-food .level3 {
  margin-left: -450px;
}
.level4, .level5 {
  margin-top: -50px;
}
.level5 {
  margin-left: 450px;
}

/* ------------------------------------------- */
/* Level style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Why Us style start */
/* ------------------------------------------- */

.row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 5rem;
  padding: 0;
  margin-left: -200px;
}
.row .box4, .row .box5 {
  transform: translatex(180px);
}
.row .box5 {
  transform: translate(250px);
}
.why-us .section-title p {
  margin-left: 50px;
}
.why-us .box {
  padding: 50px 30px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background: #1a1814;
}
.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #cda45e;
}
.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.8);
}
.why-us .box p {
  width: 350px;
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
  line-height: 2.5rem;
}
.why-us .box:hover {
  background: #cda45e;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}
.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}

/* ------------------------------------------- */
/* Why Us style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Menu style start */
/* ------------------------------------------- */

section {
  padding: 60px 0;
  overflow: hidden;
}
.section-bg {
  background: url(../img/background.webp);
  background-size: cover;
	background-repeat: no-repeat;
}
.section-title {
  padding-bottom: 40px;
}
.section-title p {
  margin-left: -400px;
  font-size: 50px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 10rem;
  align-items: center;
  margin-left: -200px;
  width: 95%;
}
.menu .menu-item {
  margin-top: 50px;
}
.col-2, .col-4,
.col-6, .col-8,
.col-10, 
.col-1, .col-3, .col-5, .col-7, .col-9{
  margin-right: -65px;
}
.menu .menu-img {
  width: 80px;
  border-radius: 50%;
  float: left;
  border: 5px solid rgba(255, 255, 255, 0.2);
  right: -50px;
}
.menu .menu-content {
  margin-left: 90px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu .menu-content::after {
  content: "......................................................................" "...................................................................." "....................................................................";
  position: absolute;
  left: 40px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #FFF; /*#bab3a6*/
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.menu .menu-content a {
  padding-right: 5px;
  background: #cda45e; /*#1a1814*/
  position: relative;
  z-index: 3;
  font-weight: bold; /*700*/
  font-size: 19px;
  color: #1a1814;
  transition: 0.3s;
}
.menu .menu-content span {
  background: #1a1814;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
  color: #cda45e;
}
.menu .menu-ingredients {
  margin-top: 8px;
  margin-left: 90px;
  font-style: italic;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

/* ------------------------------------------- */
/* Menu style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Clients style start */
/* ------------------------------------------- */

.Clients .content-title,
.Clients .content-description {
  text-align: left;
}
.Clients-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 16rem;
  align-items: center;
  padding: 0 3rem;
}
.Clients-imageContent {
  position: relative;
  max-width: 450px; 
  height: 500px;
  border: 6px solid #2C3034;
}
.Clients .Clients-img {
  width: 100%;
  height: 100%;
}
.Clients-details {
  display: grid;
  row-gap: 4rem;
}
.Clients-content .Clients-imageContent:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	display: none;
	top: 0;left: 0;right: 0;bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 5;
}
.Clients-content .Clients-imageContent:hover.Clients-imageContent:before {
	display: block;
}
.Clients  .chef-info {
	position: absolute;
	top: 130%;
	left: 0;right: 0;bottom: 0;
	display: flex;
	justify-content: center;
	z-index: 10;
	align-items: center;
	transition: 1s;
	cursor: pointer;
}
.Clients .chef-info h3 {
	font-size: 2.5rem; 
  text-align: center;
	color: #fff;
	padding: .8rem 0;
}
.Clients .chef-info span {
	font-size: 1.7rem; 
	color: #cdaa7c;
	letter-spacing: 1px;
	font-weight: 400;
  text-align: center;
}
.Clients .chef-info ul {
	list-style: none;
	display: flex;
	grid-gap: 2rem;
	padding: 3rem 0;
}
.Clients .chef-info ul li a  {
	color: #b9b6b6;
	font-size: 1.8rem;
}
.Clients .Clients-imageContent:hover .chef-info {
	top: 0;
}

/* ------------------------------------------- */
/* Clients style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Prices style start */
/* ------------------------------------------- */

.prices-title {
  text-align: center;
  font-size: 35px;
  margin: 10px;
  color: #cda45e;
}
.section-prices .row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1rem;
  padding: 50px ;
  margin-left: 0px;
  margin-bottom: -100px;
}
.prices-box {
  background-color: #fff;
  border-radius: 5px;
  width: 80%;
  height: 520px;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}
.prices-box div {
  padding: 15px;
  margin: 20px;
  border-bottom: 1px solid #C2703D;
}
.prices-box div:first-child {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.prices-box div:last-child {
  text-align: center;
  border: 0;
}
.prices-box h3 {
  margin-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
}
.plan-price {
  text-align: center;
  font-size: 350%;
  margin-bottom: 20px;
  font-weight: 100;
  color: #e67e22;
}
.plan-price span {
  font-size: 30%;
  font-weight: 300;
}
.plan-price-meal {
  font-size: 80%;
}
.prices-box ul {
  margin: 5px;
  line-height: 4rem;
  list-style: none;
}
.prices-box ul .fa-check {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ------------------------------------------- */
/* Prices style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Events style start */
/* ------------------------------------------- */

.Events .container {
  padding: 20px;
  display: grid;
  grid-template-columns: (2, 1fr);
  gap: 10px;
}
.Events-left {
  margin-left: 60px;
  margin-top: 20rem;
  width: 500px;
}

.Events-left .section-title {
  color: #C2703D;
  text-align: left;
  width: 700px;
}
.Events .Events-left h3 {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
  color: #1d1d23;
}
.Events .Events-left span {
  border-bottom: 2px solid #ffb03b;
  color: #666;
  font-size: 25px;
  font-weight: 1000;
  margin-bottom: 89px;
}
.Events-left p {
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Events-right { 
  position: relative;
  margin-top: -50rem;
}
.Events-right .img-box {
  width: 40%;
  max-height: 600px;
  padding: 30px;
  overflow: hidden;
  transform: translatex(80rem);
}
.Events-img {
  object-fit: cover;
  animation: lazy-scaleUp 30s linear infinite;
}
@keyframes lazy-scaleUp {

  0%,
  100% { 
    transform: scale(1); 
  }
  50%  { 
    transform: scale(1.2); 
  }

}
.abs-content-box {
  background: hsl(0, 0%, 100%);
  width: 45%;
  position: absolute;
  bottom: 20px;
  left:  65rem;
  padding: 15px;
  text-align: center;
  box-shadow: -2px -2px 10px hsla(0, 0%, 0%, 0.1);
}
.abs-content-box img {
  width: 100%;
  filter:grayscale(100%);
}

/* ------------------------------------------- */
/* Events style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Gallery style start */
/* ------------------------------------------- */

.gallery {
  padding: 4rem 7%;
  background: #1d1d23;
}
.gallery h1 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 3rem;
  color: #cf7137;
  letter-spacing: 1px;
}
.main-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.inner-gallery {
  flex: 1 1 300px;  
  overflow: hidden;
  border-right: 3px solid #333;
  border-bottom: 3px solid #333;
}
.inner-gallery .gallery-image img {
  width: 100%;

  transition: all ease-in-out 0.4s;
}
.inner-gallery .gallery-image:hover img {
  transform: scale(1.1);
}

/* ------------------------------------------- */
/* Garllery style end */
/* ------------------------------------------- */

/*--------------------------------------------*/
/* packages style start */
/*--------------------------------------------*/

.packages-left { 
  transform: translate(100px,200px);
  padding: 20px;
  margin-top: 3rem;
}
.main-heading {
  color: #C2703D;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
.packages-text {
  color:  hsl(240, 9%, 51%);
  width: 600px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.packages-left  .content{
  padding:1.5rem;
  padding-top: 0;
}
.packages-left .content p{
  font-size: 2rem;
  padding: .5rem 0;
  margin-left: 40px;
  margin-bottom: 10px;
  color: #666;
  line-height: 1.7;
  text-align: left;
}
.packages-right {
  position: relative;
  aspect-ratio: 2 / 3; 
}
.food-img {
  position: absolute;
  padding: 10px;
  width: 22%;
  height: 18%; /*25%*/
  margin-top: -420px;
}
.food-1 {
  top:  4%;
  right: 27%;
  animation: scaleUp 3s ease-in-out infinite;
}
.food-2 {
  top: -2%;
  right: 3%;
  animation: scaleUp 2s ease-in-out infinite;
}
.food-3 {
  top: 18%;
  right:  3%;
  animation: scaleUp 4s ease-in-out infinite;
}
.food-4 {
  top: 24%;
  right: 27%;
  animation: scaleUp 4s ease-in-out infinite;
}

@keyframes scaleUp {

  0%,
  100% { transform: translateY(0) scale(1); }

  50% { transform: translateY(-5px) scale(1.05);}

}

/* ------------------------------------------- */
/* Packages style end */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Review style start */
/* ------------------------------------------- */

.review {
  margin-top: -160rem;
}
.review h3{
  text-align: center;
  color: #C2703D;
  font-size: 4rem;
  padding: 3rem;
  margin: 0rem;
  transform: translateY(-90px);
}
.review .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
  gap: 3rem;
}
.review .review-slider{
  padding-bottom: 2rem;
}
.review .box-container .box{
  background:#1a1814;
  border: .1rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
  box-shadow: 0 .1rem .5rem rgba(0,0,0,.5);
}
.review .box-container .box .content{
  padding: 2rem;
  padding-top: 0;
  background-color: #1a1814;
}
.review .content .user-review a i{
  font-size: 3rem;
  color: #C2703D;
  float: right;
  margin-top: -5rem;
}
.review .user-review img {
  margin-top: 3rem;
  margin-right: 1rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 2px solid white;
}
.review .box-container .box .user-review .p1 {
  display: block;
  margin-top: -60px;
  margin-left: 70px;
  color: #FFF; /*#1a1814*/
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
.review .box-container .box .user-review .p2 {
  color: hsla(0, 0%, 81%, 0.649);
  font-size: 15px;
  display: block;
  margin-left: 75px;
}
.review .stars {
  padding: 2.5rem;
  word-spacing: 1rem;
}
.review .stars i {
  font-size: 1.5rem;
  color: #C2703D;
}
.review .box-container .box .content p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: #aaa; /*#666*/
  font-size: 16px;
}
.review .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}
.review .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}
.review .box-container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem; 
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: #C2703D;
}
.review .box-container .box .image .fa-heart:hover{
  background-color: #C2703D;
  color: #fff;
}
.review .box-container .box .icon {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.review .box-container .box .icon a {
  font-size: 2rem;
  color: #666;
}
.review .box-container .box .icon a:hover {
  color: #C2703D;
}
.review .box-container .box .icon a i {
  padding-bottom: 1rem;
  padding-right: .5rem;
  color: #C2703D; 
}
.review .box-container .box .icon a .fa-comment {
  transform:rotatey(180deg);
}

/* ------------------------------------------- */
/* Review style end */
/* ------------------------------------------- */


/* ------------------------------------------- */
/* Reservation style start */
/* ------------------------------------------- */

.reservation {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.reservation .image {
	width: 55%;
  height: 55rem;
	background: url(../img/reservation.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 9rem;
}
.reservation .form {
	background: #181818;
	width: 45%;
	padding: 9rem 7%;
}
.reservation .form h1 {
	color:#cda45e;
  margin-top: 10%;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}
.reservation .form-holder {
  margin-top: 30px;
	display: flex;
	grid-gap: 3rem;
	width: 100%;
}
.reservation .form form input,
.reservation .form form select {
	display: block;
	margin: 2rem 0;
	width: 100%;
	background: none;
	border-bottom: .1rem solid #b7b3b3;
	color: #b7b3b3;
	font-size: 1.8rem;
	font-weight: 300;
}
.reservation .form form input:placeholder {
	color: #b7b3b3;
}

/* ------------------------------------------- */
/* Reservation style end */
/* ------------------------------------------- */
